<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ashanti Pasteleria</title>
  <link rel="icon" type="image/png" href="../Assets/Img/PasteleriaAshanti-logo.png">
  <link rel="stylesheet" href="../Styles/stylesIndex.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
  <!-- Header de la pagina -->
  <div class="header">
    <div class="logo">
      <img src="../Assets/Img/PasteleriaAshanti-logo.png" alt="ashanti-logo" />
    </div>
    <nav class="navbar">
      <a href="#">Home</a>
      <a href="#">Direccion</a>
      <a href="#">Contacto</a>
      <a href="#">Horarios</a>
      <a href="#"><span class="material-icons"> shopping_cart</span>
        <p>Carrito</p>
      </a>
      <a href="../Views/inicioSesion.html"><span class="material-icons"> person</span>
        <p>Iniciar sesion</p>
      </a>
    </nav>
  </div>

  <!-- Comienza la parte principal de la pagina -->

  <div class="container">
    <div class="principalImg">
      <h1>¡BIENVENIDO!</h1>
      <h2>A un mundo de sabores espectaculares</h2>
      <img src="../Assets/Img/cake1.jpg" alt="Cake_01" />
      <!-- Foto de Vo Thuy Tien: https://www.pexels.com/es-es/foto/estantes-de-pastel-surtido-en-una-panaderia-2536967/ -->
      <div class="historia">
        <h2>Nuestra Historia</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur saepe esse provident voluptate illum officiis quia corporis rerum, totam nisi sit magni odio hic atque quisquam ipsam omnis consequuntur recusandae?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit autem, corrupti minima possimus consectetur quaerat, voluptas dolorum nihil quos, ex tempore? Vel doloremque molestias reiciendis! Et temporibus porro ratione voluptatem!recusandae?Lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel perferendis molestias, aut quam hic facilis incidunt temporibus, fugiat architecto voluptates illum quisquam delectus? In laboriosam non, quod natus ipsa neque.</p>
      </div>
    </div>
    <br /><br />
    <div class="sucursales">
      <div class="suc1">
        <img src="../Assets/Img/suc1.jpg" alt="Fachada sucursal Cd. Jardin" />
        <!-- Foto de Lisa Fotios de Pexels: https://www.pexels.com/es-es/foto/refrigerador-de-exhibicion-de-alimentos-dentro-1855214/ -->
        <div class="desc">
          <h3>Sucursal Cd. Jardin</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed
            veritatis inventore praesentium cupiditate ad! Atque repellat
            temporibus, tempore quibusdam placeat suscipit. Eum suscipit dolor
            libero neque repudiandae unde nihil modi. Lorem ipsum, dolor sit
            amet consectetur adipisicing elit. Voluptatum magnam, pariatur
            repellendus necessitatibus omnis dolorum reprehenderit. Reiciendis
            unde, dolor voluptates debitis consequatur a soluta consectetur
            necessitatibus, adipisci sint omnis nostrum.
          </p>
        </div>
      </div>
      <div class="suc2">
        <img src="../Assets/Img/suc1.jpg" alt="Fachada sucursal Centro" />
        <!-- Foto de Lisa Fotios de Pexels: https://www.pexels.com/es-es/foto/refrigerador-de-exhibicion-de-alimentos-dentro-1855214/ -->
        <div class="desc">
          <h3>Sucursal Centro</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed
            veritatis inventore praesentium cupiditate ad! Atque repellat
            temporibus, tempore quibusdam placeat suscipit. Eum suscipit dolor
            libero neque repudiandae unde nihil modi. Lorem ipsum, dolor sit
            amet consectetur adipisicing elit. Voluptatum magnam, pariatur
            repellendus necessitatibus omnis dolorum reprehenderit. Reiciendis
            unde, dolor voluptates debitis consequatur a soluta consectetur
            necessitatibus, adipisci sint omnis nostrum.
          </p>
        </div>
      </div>
    </div>
    <div class="horarios">
      <table>
        <h2>Nuestros Horarios</h2>
        <tr>
          <th>Horarios</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miercoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
          <th>Sabado</th>
          <th>Domingo</th>
        </tr>
        <tr>
          <td>Matutino</td>
          <td>8:00 - 12:00</td>
          <td>8:00 - 12:00</td>
          <td>8:00 - 12:00</td>
          <td>8:00 - 12:00</td>
          <td>8:00 - 12:00</td>
          <td>8:00 - 12:00</td>
          <td>8:00 - 12:00</td>
        </tr>
        <tr>
          <td>Vespertino</td>
          <td>16:00 - 20:00</td>
          <td>16:00 - 20:00</td>
          <td>16:00 - 20:00</td>
          <td>16:00 - 20:00</td>
          <td>16:00 - 20:00</td>
          <td>16:00 - 20:00</td>
          <td>16:00 - 20:00</td>
        </tr>
      </table>
    </div>
    <div class="galeria">
      <div class="columna">
        <img class="pastel1" src="../Assets/Img/cake2.jpg" alt="Pastel 1">
        <img class="pastel2" src="../Assets/Img/cake3.jpg" alt="Pastel 2">
        </div>
      <div class="columna">
      <img class="pastel3" src="../Assets/Img/cake4.jpg" alt="Pastel 3">
      <img class="pastel4" src="../Assets/Img/cake5.jpg" alt="Pastel 4">
      </div>
    </div>
    <div class="pedido">
    <h2>
      ¿Quieres hacer un pedido? <br />
      ¡Ordena Aqui!
    </h2>
    <button>¡ORDENA AQUI!</button>
  </div>

  <!-- Footer de la pagina -->
  <br><br><h2>Medios de contacto</h2>
  <div class="footer">
    <div class="contactoTrad">
      <div class="tel1">
        <h3>Telefono:</h3>
        <p>55-55-55-55-55</p>
      </div>
      <div class="correo">
        <h3>Correo:</h3>
        <p>pasteleriashanti@gmail.com</p>
      </div>
    </div>
    <div class="redes">
      <a href="#"><span class="material-icons"> account_circle</span>
        <p>Pasteleria Ashanti</p>
      </a>
      <a href="#"><span class="material-icons"> account_circle</span>
        <p>@Pasteleria_AshantiOf</p>
      </a>
      <a href="#"><span class="material-icons"> account_circle </span>
        <p>@Pasteleria_AshantiOf</p>
      </a>
    </div>
  </div>
</body>

</html>