<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesion</title>
  <link rel="stylesheet" href="../Styles/stylesIS.css">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>

  <div class="header">
    <div class="logo">
      <img src="../Assets/Img/PasteleriaAshanti-logo.png" alt="ashanti-logo" />
    </div>
    <nav class="navbar">
      <a href="../Views/index.html">Home</a>
      <a href="#">Direccion</a>
      <a href="#">Contacto</a>
      <a href="#">Horarios</a>
    </nav>
  </div>
  <div class="titulos">
  <h1>Pasteleria Ashanti</h1>
  <h2>Inicie Sesion</h2>
  </div>
  <div class="container">
    <div class="imagen">
      <img src="../Assets/Img/cake4.jpg" alt="">
    </div>
    <form action="" method="get">
      <input type="text" name="usuario" placeholder="Usuario" required><br>
      <input type="password" name="contrasena" placeholder="Contraseña" required><br>
      <input type="submit" value="Iniciar Sesion">
      <a href="registro.html">Registrarse</a>
    </form>
  </div>
</body>

</html>